﻿<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  <link rel="stylesheet" href="~/Content/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/Content/jumbotron-narrow.css" />
</head>
<body>
  <div class="container">
    @RenderBody()
    <footer class="footer">
      <p>© 2016 Company, Inc.</p>
    </footer>

  </div>
  <script type="text/javascript" src="~/Scripts/jquery-bundle.min.js"></script>
  <script type="text/javascript" src="~/Scripts/modernizer.min.js"></script>
  <script type="text/javascript" src="~/Scripts/bootstrap-bundle.min.js"></script>
</body>
</html>
